/* paging-box */
.paging-box {
    display:flex; flex-wrap:wrap; align-items:center; justify-content:center;
    margin-top:20px;
}
.paging-box ul {display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.paging-box ul li a {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; width:24px; height:32px; font-size:15px; color:#A8A8A8;}
.paging-box ul li a:hover {color:#2B9F97;}
.paging-box ul li.active a {color:#2B9F97;}
.paging-box ul li.prev a {font-size:0; background:url('../images/icon_admin_paging_prev.png') no-repeat center / 15px;}
.paging-box ul li.next a {font-size:0; background:url('../images/icon_admin_paging_next.png') no-repeat center / 15px;}

section {
    min-height:calc(100vh - 300px);
}

label {
    cursor:pointer;
}

.check-write-box > ul > li .write-left .ql-snow {
    margin:0; padding:0; top:0;
}
.check-write-box > ul > li .write-left .ql-editor {
    height:auto;
    margin:0; padding:0; top:0; overflow:visible;
}
.check-write-box > ul > li .write-left .ql-snow div {
    top:0;
}
.check-write-box > ul > li .write-left .ql-editor .editor-wrap {
    margin-left:0;
}
.file-box > div {
    gap:8px;
}
.file-box > div > div {
    display: flex; justify-content: space-between; align-items: center;
}

.check-write-box .add-field {
    border-bottom:2px solid #e4e4e4;
}
.check-write-box .add-field input {
    flex: 1; width:100%;
    min-width: 0;
    height: 60px;
    font-size: 18px;
}

@media screen and (max-width:991px) {
    .check-write-box .add-field input {
        height: 50px;
        font-size: 14px;
    }
}

.company-list-box .list-body ul li {
    cursor:pointer;
}
.file-box .delete {display:block; font-size:0; width:22px; height:22px; margin-left:8px; background:url('../images/icon_member_file_delete.png') no-repeat center / cover;}
.file-box.onlyShow {}
.file-box.onlyShow a {
    color:#1592E6;
}
.file-box.onlyShow .download {
    margin-left:4px;
}
.write-reply-box > div.reply-left input {
    background-color:#F7F7F7;
}
.write-reply-box > div.reply-right input:disabled {
    background-color:#fff;
}

.m-input-error {
    margin-top:4px;
    font-size:14px;
    color:#fff;
}

.check-write-box > ul > li .write-right > dl > dd .write-body > div input:disabled + label p {
    color:#ccc !important;
}
.wrapper {
    position:relative;
}
.admin-print-box {
    max-width:none !important;
    margin:0 !important;
    padding:0 60px !important;
}
.print-view-box {
    padding-bottom:150px;
}
.print-view-box .view-foot {
    width: 100%; max-width: 835px;
    position: absolute; bottom: 40px; left: 50%;
    padding: 18px 80px;
    transform: translateX(-50%);
    border-top: 1px solid #000;
    background-color:#fff;
}
.print-view-box .view-body .view-body-list > ul > li .view-list-cont > dl > dd b {
    font-size:16px !important;
}
.print-view-box .view-body .view-body-list > ul > li .view-list-cont > dl > dd p {
    font-size:16px !important;
    word-break: keep-all;
}
.print-view-box .view-body .view-body-list > ul > li .view-list-tit div p {
    font-size:16px !important;
    word-break: keep-all;
}
.print-view-box .view-body .view-body-list > ul > li .view-list-tit div b {
    font-size:16px !important;
    word-break:keep-all;
}
.print-issue-box > ul > li > dl > dd {
    font-size:16px !important;
}
.graph-box .graph-body .graph-03 {
    width:62px !important; height:62px !important;
}
.graph-box .graph-body .graph-03 .inner strong {
    font-size:20px !important;
}
.graph-box .graph-body .graph-03.big {
    width: 260px !important; height: 260px !important;
}
.graph-box .graph-body .graph-03.big .inner strong {
   font-size:25px !important;
}
.print-step-box .print-step-list ul li p b {
    font-size:10px !important;
}
.print-step-box .print-step-list ul li p {
    font-size:10px !important;
    gap:4px;
}
.print-view-box .view-body .view-body-list > ul > li .view-list-cont > dl > dd p {
    white-space: pre-line;
}
.print-result-box {

}
.print-view-box .view-body .view-body-title em.level1 {
    background-color:red;
}
.print-view-box .view-body .view-body-title em.level2 {

}
.print-view-box .view-body .view-body-title em.level3 {
    background-color:skyblue;
}
.print-view-box .view-body .view-body-title em.level4 {
    background-color:deepskyblue;
}
.print-view-box .view-body .view-body-title em.level5 {
    background-color:green;
}
.print-view-box {
    margin:0 !important;
}
.print-view-box .box-like-comment {
    min-height:270px;
    white-space: pre-line;
    line-height:20px;
}

.result-right-table.empty {
    display:flex; align-items:center; justify-content:center;
    height:220px; margin-top:20px;
    text-align: center; font-size:18px; color:#999;
    background-color:#F7F7F7; border-radius:12px;
}
.print-result-box .result-right .result-right-top ul li > div .right-top-tit {
    font-size:16px !important;
}
.print-result-box .result-right .result-right-top ul li > div .right-top-score b {
    font-size:16px !important;
}
.graph-box .graph-foot strong {
    font-size:13px !important;
}
.graph-box .graph-body .graph-04 .category ul li {
    font-size:12px !important;
}
.print-result-box .result-right .result-right-top ul li:before {
    width:50px !important; height:50px !important;
}

.m-viewer.type01 {
    background-color:#232323;
}
.m-viewer.type01 .swiper-slide .wrapper {
    padding-top:80px;
    background-color:#fff;
}
.m-viewer.type01 .swiper-slide {
    display: flex; height:100vh;
    justify-content: center; align-items: center;
}
.m-viewer.type01 .total-comment {
    width:339px; flex:0 0 auto !important;
}
.graph-box .graph-body .graph-02 .graph-bar .bar-inner .inner em {
    width:28px !important; height:28px !important;
}

.m-viewer.type01 .wrapper {
    width:940px; height:1272px;
    padding-top:60px;
}

.print-title-box > img {
    max-width:auto !important; width:auto !important; max-height:56px;
}

.board-graph-box .graph-02 .graph-inner .inner-title {
    margin:0 0 24px;
}

.board-company-box > ul > li {
    border:3px solid transparent;
    transition: border-color .3s;
    cursor:pointer;
}
.board-company-box > ul > li:hover {
    border-color:#1592E6;
}
@media print {
    .m-viewer.type01 {
        background-color:#fff;
    }
}

.dashboard-box .board-left .board-left-category ul li:nth-of-type(1) a:before {background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(2) a:before {background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(3) a:before {background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(4) a:before {background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(1).active a:before {opacity:1; background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(2).active a:before {opacity:1; background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(3).active a:before {opacity:1; background-image:none;}
.dashboard-box .board-left .board-left-category ul li:nth-of-type(4).active a:before {opacity:1; background-image:none;}

.dashboard-box .board-left .board-left-category ul li.chart-icon a:before {background-image:url('../images/icon_board_left_01.png');}
.dashboard-box .board-left .board-left-category ul li.book a:before {background-image:url('../images/icon_board_left_02.png');}
.dashboard-box .board-left .board-left-category ul li.people a:before {background-image:url('../images/icon_board_left_03.png');}
.dashboard-box .board-left .board-left-category ul li.building a:before {background-image:url('../images/icon_board_left_04.png');}

.dashboard-box .board-left .board-left-category ul li.chart-icon.active a:before {opacity:1; background-image:url('../images/icon_board_left_on_01.png');}
.dashboard-box .board-left .board-left-category ul li.book.active a:before {opacity:1; background-image:url('../images/icon_board_left_on_02.png');}
.dashboard-box .board-left .board-left-category ul li.people.active a:before {opacity:1; background-image:url('../images/icon_board_left_on_03.png');}
.dashboard-box .board-left .board-left-category ul li.building.active a:before {opacity:1; background-image:url('../images/icon_board_left_on_04.png');}

.menu-list-box > ul > li .btn-toggle {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/icon_admin_menu_minus.png);
}
.menu-list-box > ul > li.active > a > .btn-toggle {
    background-image: url(../images/icon_admin_menu_plus.png);
}
.menu-list-box > ul > li > div.active > a > .btn-toggle {
    background-image: url(../images/icon_admin_menu_plus.png);
}
.menu-list-box > ul > li a p.active {
    color:#000;
}
.menu-list-box > ul > li a:before {
    display: none !important;
}
.check-write-box > ul > li .write-left div small p {
    font-size:14px;
}
.board-graph-box .graph-04 > ul > li .graph-right > div {
    overflow:hidden;
}
.board-graph-box .graph-content dl dd:after {
    margin:0 16px !important;
}
.board-list-box .list-body .list-body-graph > ul > li .graph-right .graph-right-title strong {
    font-size:18px;
}
.board-faq-box > ul > li .list-body .description {
    font-size: 16px;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid #E4E4E4;
    padding: 0 0 30px;
    margin: 0 0 30px;
}
.board-faq-box > ul > li .list-body .description .imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.board-faq-box > ul > li .list-body .description .imgs img {
    max-width:150px;
}


.area-users-create .list-content .link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0 4px 4px 0;
    height: 48px;
    font-size: 14px;
    font-weight: 400;
    padding: 0 15px;
    background: #F7F7F7;
    border: 1px solid #E4E4E4;
    color: rgba(0, 0, 0, 0.4);
    margin-left:12px;
}
.area-users-create .list-content-inner {
    margin-bottom:12px;
}
.area-users-create .m-input-phone .m-input-withBtn .m-input-btn{
    color: rgba(0,0,0,0.4);
}
.area-users-create .m-input-phone .m-input-text input {
    padding-bottom: 0;
    padding-left: 0;
}
.admin-container-box .admin-left .admin-left-category ul li > dl > dd > dl {
    margin-left:24px;

}