/* paging-box */
.paging-box {
    display:flex; flex-wrap:wrap; align-items:center; justify-content:center;
    margin-top:20px;
}
.paging-box ul {display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.paging-box ul li a {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; width:24px; height:32px; font-size:15px; color:#A8A8A8;}
.paging-box ul li a:hover {color:#2B9F97;}
.paging-box ul li.active a {color:#2B9F97;}
.paging-box ul li.prev a {font-size:0; background:url('../images/icon_admin_paging_prev.png') no-repeat center / 15px;}
.paging-box ul li.next a {font-size:0; background:url('../images/icon_admin_paging_next.png') no-repeat center / 15px;}

section {
    min-height:calc(100vh - 300px);
}

label {
    cursor:pointer;
}

.check-write-box > ul > li .write-left .ql-snow {
    margin:0; padding:0; top:0;
}
.check-write-box > ul > li .write-left .ql-editor {
    height:auto;
    margin:0; padding:0; top:0; overflow:visible;
}
.check-write-box > ul > li .write-left .ql-snow div {
    top:0;
}
.check-write-box > ul > li .write-left .ql-editor .editor-wrap {
    margin-left:0;
}
.file-box > div {
    gap:8px;
}
.file-box > div > div {
    display: flex; justify-content: space-between; align-items: center;
}

.check-write-box .add-field {
    border-bottom:2px solid #e4e4e4;
}
.check-write-box .add-field input {
    flex: 1; width:100%;
    min-width: 0;
    height: 60px;
    font-size: 18px;
}

@media screen and (max-width:991px) {
    .check-write-box .add-field input {
        height: 50px;
        font-size: 14px;
    }
}

.company-list-box .list-body ul li {
    cursor:pointer;
}
.file-box .delete {display:block; font-size:0; width:22px; height:22px; margin-left:8px; background:url('../images/icon_member_file_delete.png') no-repeat center / cover;}
.file-box.onlyShow {}
.file-box.onlyShow a {
    color:#1592E6;
}
.file-box.onlyShow .download {
    margin-left:4px;
}
.write-reply-box > div.reply-left input {
    background-color:#F7F7F7;
}
.write-reply-box > div.reply-right input:disabled {
    background-color:#fff;
}

.m-input-error {
    margin-top:4px;
    font-size:14px;
    color:#fff;
}