/* container */
.container {max-width:1630px; margin:0 auto; padding:0 15px;}
html , body {overflow:inherit !important;}
html.fixed , body.fixed {overflow:hidden !important;}

/* header */
header {position:fixed; z-index:100; left:0; top:0; width:100%; background:#fff; border-bottom:2px solid #E4E4E4;}
header .header-top .container {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
header .header-top .header-top-logo h1 a img {width:161px;}
header .header-top .header-top-category {flex:1; min-width:0;}
header .header-top .header-top-category ul {display:flex; flex-wrap:wrap; align-items:center; justify-content:flex-end;}
header .header-top .header-top-category ul li a {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; padding:30px 40px; font-size:20px; font-weight:500;}
header .header-top .header-top-category ul li.menu {display:none;}
@media (max-width:1200px){
header .header-top .header-top-category ul li a {padding:30px 20px;}
}
@media (max-width:991px){
header .header-top {padding:10px 0;}
header .header-top .header-top-logo h1 a img {width:100px;}
header .header-top .header-top-category ul li {display:none;}
header .header-top .header-top-category ul li a {padding:0;}
header .header-top .header-top-category ul li.menu {display:block;}
header .header-top .header-top-category ul li.menu a {width:24px; height:24px; font-size:0; background:url('../images/icon_member_menu.png') no-repeat center / cover;}
}

/* section */
section {margin:80px 0 0; padding:50px 0 140px;}
@media (max-width:991px){
section {margin:50px 0 0; padding:30px 0 80px;}
}

/* footer */
footer {background:#2E3639; padding:60px 0;}
footer .container {display:flex; flex-wrap:wrap; align-items:flex-start;}
footer .footer-logo img {width:93px;}
footer .footer-info {flex:1; min-width:0; padding-left:80px;}
footer .footer-info .footer-info-link ul {display:flex; flex-wrap:wrap; align-items:center;}
footer .footer-info .footer-info-link ul li {display:flex; flex-wrap:wrap; align-items:center;}
footer .footer-info .footer-info-link ul li a {font-size:16px; font-weight:600; color:#fff;}
footer .footer-info .footer-info-link ul li:after {display:inline-block; content:""; width:1px; height:12px; background:#fff; margin:0 30px;}
footer .footer-info .footer-info-link ul li:last-of-type:after {display:none;}
footer .footer-info .footer-info-text {margin:40px 0 0;}
footer .footer-info .footer-info-text ul {display:flex; flex-wrap:wrap; margin:0 0 -12px;}
footer .footer-info .footer-info-text ul li {width:50%; margin:0 0 12px; display:flex; flex-wrap:wrap; align-items:center;}
footer .footer-info .footer-info-text ul li span {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; color:rgba(255,255,255,0.6);}
footer .footer-info .footer-info-text ul li span:after {display:inline-block; content:""; width:1px; height:12px; background:rgba(255,255,255,0.6); margin:0 15px;}
footer .footer-info .footer-info-text ul li span:last-of-type:after {display:none;}
@media (max-width:991px){
footer {padding:30px 0;}
footer .footer-logo {width:100%;}
footer .footer-logo img {width:30px; display:block;}
footer .footer-info {flex:none; padding-left:0; width:100%; margin:30px 0 0;}
footer .footer-info .footer-info-link ul li a {font-size:14px;}
footer .footer-info .footer-info-link ul li:after {height:10px; margin:0 15px;}
footer .footer-info .footer-info-text {margin:20px 0 0;}
footer .footer-info .footer-info-text ul {margin:0;}
footer .footer-info .footer-info-text ul li {width:100%; margin:0 0 10px;}
footer .footer-info .footer-info-text ul li:last-of-type {margin:0;}
footer .footer-info .footer-info-text ul li span {font-size:13px;}
footer .footer-info .footer-info-text ul li span:after {height:10px; margin:0 10px;}
}

/* sub-box */
.sub-box {display:flex; flex-wrap:wrap; align-items:flex-start;}
.sub-box .sub-left-box {width:240px; margin-right:80px; position:sticky; top:90px;}
.sub-box .sub-left-box .sub-left-head {display:none;}
.sub-box .sub-left-box .sub-left-body .sub-left-title {margin:0 0 40px;}
.sub-box .sub-left-box .sub-left-body .sub-left-title h2 {font-size:32px; line-height:35px;}
.sub-box .sub-left-box .sub-left-body .sub-left-title h2 b {display:block; font-size:32px; line-height:35px; font-weight:700;}
.sub-box .sub-left-box .sub-left-body .sub-left-title p {margin:25px 0 0; font-size:12px; line-height:20px;}
.sub-box .sub-left-box .sub-left-body .sub-left-main {display:none;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > *:not(div) {width:100%; padding:0 20px 0 12px; display:flex; flex-wrap:wrap; align-items:center; height:56px; font-size:18px; font-weight:600; color:#707070;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > *:not(div):before {display:inline-block; content:""; width:32px; height:32px; background-size:cover; background-position:center; margin-right:15px;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > *:not(div):after {display:inline-block; content:""; width:16px; height:16px; margin-left:10px; background:url('../images/icon_member_cate_more.png') no-repeat center / cover;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > button:after {transform:rotate(90deg);}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > *:not(div) p {text-align:left; flex:1; min-width:0; font-size:18px; font-weight:600; color:#707070;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > *:not(div) {background:rgba(28,112,174,0.08);}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > *:not(div) p {color:#1C70AE;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > *:not(div):after {background-image:url('../images/icon_member_cate_more_on.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > button:after {transform:rotate(-90deg);}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate01 > *:before {background-image:url('../images/icon_member_cate_01.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate02 > *:before {background-image:url('../images/icon_member_cate_02.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate03 > *:before {background-image:url('../images/icon_member_cate_03.png');}	
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate04 > *:before {background-image:url('../images/icon_member_cate_04.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate05 > *:before {background-image:url('../images/icon_member_cate_05.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate06 > *:before {background-image:url('../images/icon_member_cate_06.png');}	 
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate07 > *:before {background-image:url('../images/icon_member_cate_07.png');}	 
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate01.active > *:before {background-image:url('../images/icon_member_cate_01_on.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate02.active > *:before {background-image:url('../images/icon_member_cate_02_on.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate03.active > *:before {background-image:url('../images/icon_member_cate_03_on.png');}	 
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate04.active > *:before {background-image:url('../images/icon_member_cate_04_on.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate05.active > *:before {background-image:url('../images/icon_member_cate_05_on.png');}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate06.active > *:before {background-image:url('../images/icon_member_cate_06_on.png');}		 
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.cate07.active > *:before {background-image:url('../images/icon_member_cate_07_on.png');}    
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div {display:none;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li {margin:0 0 12px;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li:last-of-type {margin:0;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button {color:#707070; margin:4px 0 0; width:100%; height:40px; padding:0 20px; background:#F7F7F7; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button p {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; font-weight:500;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button p b {margin-right:15px; font-size:16px; font-weight:bold;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button:after {transform:rotate(180deg); display:inline-block; content:""; width:16px; height:16px; background:url('../images/icon_member_toggle.png') no-repeat center / cover;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button div.graph {display:flex; flex-wrap:wrap; align-items:center;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button div.graph > em {font-size:10px; font-weight:500; margin-right:8px;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button div.graph > div {padding:1px; width:55px; height:16px; border-radius:8px; border:1px solid #000000;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > button div.graph > div span {display:block; height:100%; background:#000; border-radius:8px;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > ul {display:none; padding:8px 0 0;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > ul > li a {display:flex; flex-wrap:wrap; align-items:center; padding:5px 0 5px 15px; font-size:14px; font-weight:500; color:#707070;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > ul > li a:hover {text-decoration:underline;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li > div > ul > li > ul > li.active a {color:#1C70AE;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div {display:block;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button {background:rgba(28,112,174,0.08);}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button p {color:#1C70AE;}				   
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button p b {color:#1C70AE;} 
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button:after {background-image:url('../images/icon_member_cate_more_on.png'); transform:rotate(-90deg);}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button div.graph > em {color:#1C70AE;}	  
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button div.graph > div {border-color:#1C70AE;}	  
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active button div.graph > div span {background:#1C70AE;}
.sub-box .sub-left-box .sub-left-body .sub-left-category > ul > li.active > div > ul > li.active > ul {display:block;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab ul {display:flex; flex-wrap:wrap; align-items:center; overflow:hidden; border-radius:50px; border:1px solid #E4E4E4;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab ul li {flex:1; min-width:0;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab ul li a {height:40px; font-size:16px; font-weight:500; color:rgba(0,0,0,0.6); display:flex; flex-wrap:wrap; align-items:center; justify-content:center; border-radius:50px;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab ul li.active a {background:#2B9F97; color:#fff; font-weight:bold;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab p {margin:30px 0 0; font-size:20px; font-weight:500; line-height:1.4; word-break:keep-all;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab time {display:block; margin:24px 0 0; font-size:12px; color:#505050;}
.sub-box .sub-right-box {flex:1; min-width:0;}
@media (max-width:1200px){
.sub-box .sub-left-box {margin-right:40px;}
}
@media (max-width:991px){
.sub-box .sub-left-box {pointer-events:none; opacity:0; transition:all ease 0.5s; width:100%; margin-right:0; position:fixed; left:0; top:0; width:100%; height:100%; overflow-y:auto; background:#fff; z-index:9999;}
.sub-box .sub-left-box .sub-left-head {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; padding:10px 15px; border-bottom:2px solid #E4E4E4;}
.sub-box .sub-left-box .sub-left-head img {width:100px;}
.sub-box .sub-left-box .sub-left-head a.close {display:block; position:relative; font-size:0; width:24px; height:24px;}
.sub-box .sub-left-box .sub-left-head a.close:after {position:absolute; left:0; top:12px; width:100%; height:2px; background:#707070; content:""; transform:rotate(45deg);}	 
.sub-box .sub-left-box .sub-left-head a.close:before {position:absolute; left:0; top:12px; width:100%; height:2px; background:#707070; content:""; transform:rotate(-45deg);}  
.sub-box .sub-left-box .sub-left-body {padding:20px 15px;}
.sub-box .sub-left-box .sub-left-body .sub-left-title {display:none; margin:0 0 20px;}
.sub-box .sub-left-box .sub-left-body .sub-left-title h2 {font-size:25px; line-height:1.3;}
.sub-box .sub-left-box .sub-left-body .sub-left-title h2 b {display:inline-block; margin-right:10px; font-size:25px; line-height:1.3;}
.sub-box .sub-left-box .sub-left-body .sub-left-title h2 b:last-of-type {margin-left:10px; margin-right:0;}
.sub-box .sub-left-box .sub-left-body .sub-left-title p {margin:10px 0 0; font-size:11px; line-height:1.5; word-break:keep-all;}
.sub-box .sub-left-box .sub-left-body .sub-left-title p br {display:none;}
.sub-box .sub-left-box .sub-left-body .sub-left-main {display:block; margin:0 0 15px; padding:0 0 15px; border-bottom:1px solid #e4e4e4;}
.sub-box .sub-left-box .sub-left-body .sub-left-main ul {display:flex; flex-wrap:wrap; align-items:center;}
.sub-box .sub-left-box .sub-left-body .sub-left-main ul li {width:33.33%; position:relative;}
.sub-box .sub-left-box .sub-left-body .sub-left-main ul li a {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; padding:15px 0; font-size:18px; font-weight:700;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab {margin:0 0 20px;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab p {margin:15px 0 0; font-size:16px;}
.sub-box .sub-left-box .sub-left-body .sub-left-tab time {margin:10px 0 0;}
.sub-box .sub-right-box {flex:none; width:100%;}
.sub-box.fixed .sub-left-box {pointer-events:inherit; opacity:1;}
}

/* color */
.ft-lightgray {color:#CECECE !important;}
.ft-blue {color:#1C70AE !important;}
.ft-green {color:#2B9F97 !important;}

/* title-box */
.title-box {margin:0 0 30px; display:flex; flex-wrap:wrap; align-items:flex-end; justify-content:space-between;}
.title-box h2 {display:flex; flex-wrap:wrap; align-items:center; font-size:40px; font-weight:700;}
.title-box h2 em {display:flex; flex-wrap:wrap; align-items:center; font-size:40px; font-weight:500; color:#A8A8A8;}
.title-box h2 em:after {display:inline-block; content:""; width:40px; height:40px; background:url('../images/icon_member_loca.png') no-repeat center / cover; margin:0 8px;}
.title-box h2.sm {font-size:26px;}
.title-box time {font-size:16px; color:#A8A8A8;}
.title-box.border {padding:0 0 24px; border-bottom:2px solid #000;}
.title-box.sticky {background:#fff; position:sticky; top:80px; padding:20px 0; z-index:10;}
@media (max-width:991px){
.title-box {margin:0 0 20px; align-items:center;}
.title-box h2 {font-size:20px;}
.title-box h2 em {font-size:20px;}
.title-box h2 em:after {width:20px; height:20px; margin:0 4px;}
.title-box h2.sm {font-size:20px;}
.title-box time {font-size:11px; width:100%; margin:10px 0 0;}
.title-box.border {padding:0 0 20px;}
.title-box.sticky {top:50px; padding:20px 0;}
}

/* button-box */
.button-box {display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.button-box .btn {font-weight:600; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; border-radius:50px; padding:0 30px;}
.button-box .btn.md {height:35px; font-size:14px;}
.button-box .btn.lg {height:55px; font-size:20px;}
.button-box .btn.more:after {display:inline-block; content:""; width:14px; height:16px; margin-left:15px; background:url('../images/icon_member_more.png') no-repeat center / cover;}
.button-box .btn-lightgray {background:#A8A8A8; color:#fff;}
.button-box .btn-black {background:#000; color:#fff;}
.button-box .btn-blue {background:#1C70AE; color:#fff;}
.button-box .btn-green {background:#2B9F97; color:#fff;}
@media (max-width:991px){
.button-box .btn.md {height:30px; font-size:13px;}
.button-box .btn.lg {height:50px; font-size:17px;}	  
.button-box .btn.more:after {margin-left:10px; width:10px; height:12px;}
}

/* check-box */
.check-box {width:100%; display:flex; flex-wrap:wrap; align-items:center; position:relative; overflow:hidden;}
.check-box input {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.check-box label {display:flex; flex-wrap:wrap; align-items:center; min-height:60px; flex:1; min-width:0;}
.check-box label:before {display:inline-block; content:""; width:24px; height:24px; margin-right:35px;}
.check-box label p {flex:1; min-width:0; font-size:18px; color:#a8a8a8;}				
.check-box input[type=radio] ~ label:before {background:url('../images/icon_member_radio.png') no-repeat center / cover;}
.check-box input[type=radio]:checked ~ label:before {background-image:url('../images/icon_member_radio_on.png');}  
.check-box input[type=checkbox] ~ label:before {background:url('../images/icon_member_check.png') no-repeat center / cover;}
.check-box input[type=checkbox]:checked ~ label:before {background-image:url('../images/icon_member_check_on.png');}
.check-box input:checked ~ label p {color:#707070;}
@media (max-width:991px){
.check-box label {min-height:50px;}
.check-box label:before {width:18px; height:18px; margin-right:10px;}
.check-box label p {font-size:14px;}
} 

/* file-box */
.file-box {display:flex; flex-wrap:wrap; align-items:center; width:100%; min-height:60px;}
.file-box > strong {font-size:18px; font-weight:bold; width:115px;}
.file-box > div {padding-right:20px; flex:1; min-width:0; display:flex; flex-wrap:wrap; align-items:center;}
.file-box > div > p {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:18px; color:#A8A8A8;}
.file-box > div > p a {font-size:18px; color:#1592E6; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.file-box > div > p.flex {align-items:center; flex-wrap:nowrap !important;}
.file-box > div > p.flex:after {display:inline-block; content:""; width:18px; height:18px; margin-left:5px; background:url('../images/icon_member_download.png') no-repeat center / cover;}
.file-box > div > a {font-size:0; display:inline-block; content:""; width:18px; height:18px; margin-left:5px; background:url('../images/icon_member_file_delete.png') no-repeat center / cover;}
.file-box > label {width:80px; height:40px; border:1px solid #E4E4E4; font-size:18px; font-weight:600; color:#6E6E6E; position:relative; overflow:hidden; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; border-radius:50px;}
.file-box > label input {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer; overflow:hidden;}
.file-box .delete {display:block; font-size:0; width:22px; height:22px; margin-left:8px; background:url('../images/icon_member_file_delete.png') no-repeat center / cover;}
@media (max-width:991px){
.file-box {min-height:50px;}
.file-box > strong {width:auto; font-size:14px; margin-right:10px;}
.file-box > div > p {font-size:14px;}
.file-box > div > p a {font-size:14px;}
.file-box > div > p.flex {width:100%;}
.file-box > div > p.flex:after {width:15px; height:15px;}
.file-box > div > a {width:15px; height:15px;}
.file-box > label {width:60px; height:35px; font-size:13px;}
}

/* file-list-box */
.file-list-box {display:flex; flex-wrap:wrap;}
.file-list-box .file-list {display:flex; flex-wrap:wrap; flex:1; min-width:0; background:#F7F7F7; padding:15px 24px; border-radius:18px;}
.file-list-box .file-list > strong {font-size:18px; font-weight:bold; margin-right:35px;}
.file-list-box .file-list > ul {display:flex; flex-wrap:wrap; flex:1; min-width:0; margin:0 -8px -8px;}
.file-list-box .file-list > ul li {width:calc(25% - 16px); margin:0 8px 8px; display:flex; align-items:center;}
.file-list-box .file-list > ul li p {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:18px; color:#A8A8A8;}
.file-list-box .file-list > ul li a {margin-left:6px; width:18px; height:18px; font-size:0; background:url('../images/icon_member_file_delete.png') no-repeat center / cover;}
.file-list-box .file-button {display:flex; flex-wrap:wrap; margin-left:12px;}
.file-list-box .file-button > * {margin-right:15px; width:145px; height:35px; border-radius:50px; font-size:14px; font-weight:600; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; position:relative; overflow:hidden;}
.file-list-box .file-button > *:last-child {margin:0;}
.file-list-box .file-button > label {background:#021D42; color:#fff;}
.file-list-box .file-button > label input {position:absolute; left:0; top:0; width:100%; height:100%; cursor:pointer; opacity:0;}
.file-list-box .file-button > a {background:#1C70AE; color:#fff;}
@media (max-width:1500px){
.file-list-box .file-list {flex:none; width:100%;}
.file-list-box .file-button {width:100%; margin-left:0; margin-top:15px; justify-content:center;}
}
@media (max-width:1200px){
.file-list-box .file-list > strong {width:100%; margin-right:0;}
.file-list-box .file-list > ul {flex:none; width:100%; margin:15px 0 0;}
.file-list-box .file-list > ul li {width:calc(50% - 16px);}
}
@media (max-width:991px){
.file-list-box .file-list {padding:20px; border-radius:5px;}
.file-list-box .file-list > strong {font-size:16px;}
.file-list-box .file-list > ul {margin:10px -5px -10px;}
.file-list-box .file-list > ul li {width:calc(50% - 10px); margin:0 5px 10px;}
.file-list-box .file-list > ul li p {font-size:13px; padding:0 0 2px;}
.file-list-box .file-list > ul li a {width:14px; height:14px;}
}

/* .list-top-box */
.list-top-box {padding:0 0 24px; margin:0 0 24px; border-bottom:2px solid #000; display:flex; flex-wrap:wrap; align-items:flex-end; justify-content:space-between;}
.list-top-box .list-top-search {width:640px;}
.list-top-box .list-top-search form {padding:0 24px; display:flex; flex-wrap:wrap; align-items:center; border-radius:24px; border:1px solid #E4E4E4;}
.list-top-box .list-top-search form input {flex:1; min-width:0; height:40px; background:none; font-size:16px; color:#707070;}
.list-top-box .list-top-search form input::placeholder {color:rgba(0,0,0,0.4);}
.list-top-box .list-top-search form a {display:inline-block; font-size:0; width:20px; height:20px; margin-left:15px; background:url('../images/icon_member_search.png') no-repeat center / cover;}
.list-top-box .list-top-filter ul {display:flex; flex-wrap:wrap; align-items:center;}
.list-top-box .list-top-filter ul li {display:flex; flex-wrap:wrap; align-items:center;}
.list-top-box .list-top-filter ul li:after {display:inline-block; content:""; width:2px; height:10px; background:#E4E4E4; margin:0 20px;}
.list-top-box .list-top-filter ul li:last-of-type:after {display:none;}
.list-top-box .list-top-filter ul li a {font-size:16px; color:#A8A8A8;}
.list-top-box .list-top-filter ul li.active a {font-weight:bold; color:#1C70AE;}
@media (max-width:1250px){
.list-top-box .list-top-search {width:100%}
.list-top-box .list-top-filter {width:100%; margin:15px 0 0;}	 
.list-top-box .list-top-filter ul {justify-content:flex-end;}
}
@media (max-width:991px){
.list-top-box .list-top-search form {padding:0 15px;}
.list-top-box .list-top-search form input {font-size:14px;}
.list-top-box .list-top-filter ul li:after {margin:0 10px;}
.list-top-box .list-top-filter ul li a {font-size:14px;}
}

/* check-list-box */
.check-list-box > ul > li {border:1px solid #E4E4E4; margin:0 0 16px; padding:24px 40px;}
.check-list-box > ul > li:last-of-type {margin:0;}
.check-list-box > ul > li .list-head {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; border-bottom:1px solid #E4E4E4; padding:0 0 16px; margin:0 0 16px;}
.check-list-box > ul > li .list-head p {flex:1; min-width:0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; font-size:16px; font-weight:600; color:#333;}
.check-list-box > ul > li .list-head div {display:flex; flex-wrap:wrap; align-items:center;}
.check-list-box > ul > li .list-head div em {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; font-weight:600; color:#A8A8A8;}
.check-list-box > ul > li .list-head div em:after {display:inline-block; content:""; width:2px; height:10px; background:#E4E4E4; margin:0 20px;}
.check-list-box > ul > li .list-head div b {font-size:16px; font-weight:600; color:#A8A8A8;}
.check-list-box > ul > li .list-body {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.check-list-box > ul > li .list-body time {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; color:#A8A8A8;}
.check-list-box > ul > li .list-body time em {font-size:16px; font-weight:600; margin-left:15px; color:#333;}
.check-list-box > ul > li .list-body a {width:145px; height:35px; border-radius:18px; background:#2B9F97; color:#fff; font-size:14px; font-weight:600; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.check-list-box > ul > li .list-body a.green {background:#2B9F97 !important; color:#fff;}
.check-list-box > ul > li .list-body a.blue {background:#1C70AE !important; color:#fff;}
.check-list-box > ul > li .list-body a.black {background:#021D42 !important; color:#fff;}
.check-list-box > ul > li .list-body > div a {margin-right:12px;}
.check-list-box > ul > li .list-body > div a:last-of-type {margin:0;}
.check-list-box > ul > li.active .list-head div em {color:#000;}
.check-list-box > ul > li.active .list-head div b {color:#000;}
.check-list-box > ul > li.active .list-body a {background:#021D42;}
@media (max-width:991px){
.check-list-box > ul > li {padding:15px 20px;}
.check-list-box > ul > li .list-head p {font-size:14px;}
.check-list-box > ul > li .list-head div em {font-size:13px;}
.check-list-box > ul > li .list-head div em:after {margin:0 10px;}
.check-list-box > ul > li .list-head div b {font-size:13px;}
.check-list-box > ul > li .list-body time {font-size:13px;}
.check-list-box > ul > li .list-body time em {font-size:13px; margin-left:10px;}
.check-list-box > ul > li .list-body a {width:100px; height:30px; font-size:12px;}
.check-list-box > ul > li .list-body > div {width:100%; margin:10px 0 0; justify-content:center;}
.check-list-box > ul > li .list-body > div a {margin-right:5px; width:90px;}
}

/* agree-list-box */
.agree-list-box > .list-body > ul > li {border:1px solid #E4E4E4; margin:0 0 24px; padding:24px 40px 0;}
.agree-list-box > .list-body > ul > li .list-head {display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.agree-list-box > .list-body > ul > li .list-head p {flex:1; min-width:0; font-size:16px; font-weight:600; color:#707070;}
.agree-list-box > .list-body > ul > li .list-head div {position:relative; overflow:hidden;}
.agree-list-box > .list-body > ul > li .list-head div input {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.agree-list-box > .list-body > ul > li .list-head div label {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; width:145px; height:35px; border-radius:18px; border:1px solid #E4E4E4; font-size:14px; font-weight:600; color:#A8A8A8;}
.agree-list-box > .list-body > ul > li .list-head div input:checked ~ label {background:#1C70AE; color:#fff;}
.agree-list-box > .list-body > ul > li .list-body {height:230px; overflow-y:auto; padding:24px 0; border-top:1px solid #E4E4E4; margin:24px 0 0;}
.agree-list-box > .list-body > ul > li .list-body p {font-size:16px; line-height:1.5; word-break:keep-all; margin:0 0 24px; color:#A8A8A8;}
.agree-list-box > .list-body > ul > li .list-body p:last-of-type {margin:0;}
.agree-list-box > .list-body > ul > li:last-of-type {margin:0;}
.agree-list-box > .list-foot .list-foot-space {padding:32px 0; margin:0 0 40px; border-bottom:2px solid #000000; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between;}
.agree-list-box > .list-foot .list-foot-space p {font-size:16px; font-weight:600;}
.agree-list-box > .list-foot .list-foot-space div {position:relative; overflow:hidden;}
.agree-list-box > .list-foot .list-foot-space div input {position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; cursor:pointer;}
.agree-list-box > .list-foot .list-foot-space div label {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; width:145px; height:35px; border-radius:18px; border:1px solid #E4E4E4; font-size:14px; font-weight:600; color:#A8A8A8;}
.agree-list-box > .list-foot .list-foot-space div input:checked ~ label {background:#1C70AE; color:#fff;}
.agree-list-box > .list-foot .list-foot-button {display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.agree-list-box > .list-foot .list-foot-button a {display:flex; flex-wrap:wrap; align-items:center; justify-content:center; width:240px; height:55px; border-radius:50px; background:#1C70AE; color:#fff; font-size:20px; font-weight:600;}
.agree-list-box > .list-foot .list-foot-button a:after {display:inline-block; content:""; width:14px; height:16px; margin-left:15px; background:url('../images/icon_member_more.png') no-repeat center / cover;}
@media (max-width:991px){
.agree-list-box > .list-body > ul > li {margin:0 0 15px; padding:15px 20px 0;}
.agree-list-box > .list-body > ul > li .list-head p {font-size:15px;}
.agree-list-box > .list-body > ul > li .list-head div label {width:100px; height:30px; font-size:12px;}
.agree-list-box > .list-body > ul > li .list-body {height:150px; padding:15px 0; margin:15px 0 0;}
.agree-list-box > .list-body > ul > li .list-body p {font-size:14px;}
.agree-list-box > .list-foot .list-foot-space {padding:24px 0; margin:0 0 24px;}
.agree-list-box > .list-foot .list-foot-space p {font-size:14px; flex:1; min-width:0; padding-right:24px; line-height:1.3; word-break:keep-all;}
.agree-list-box > .list-foot .list-foot-space div label {width:100px; height:30px; font-size:12px;}
.agree-list-box > .list-foot .list-foot-button a {width:150px; height:45px; font-size:15px;}
.agree-list-box > .list-foot .list-foot-button a:after {margin-left:10px; width:10px; height:12px;}
}

/* check-write-box */
.check-write-box > ul > li {margin:0 0 80px; display:flex; flex-wrap:wrap;}
.check-write-box > ul > li:last-of-type {margin:0;}
.check-write-box > ul > li .write-left {width:455px; display:flex; flex-wrap:wrap; padding-right:50px;}
.check-write-box > ul > li .write-left b {font-size:18px; font-weight:bold; color:#919191;}
.check-write-box > ul > li .write-left div {flex:1; min-width:0; margin-left:20px; position:relative; top:-5px;}
.check-write-box > ul > li .write-left div p {font-size:22px; font-weight:bold; line-height:1.4; word-break:keep-all;}
.check-write-box > ul > li .write-left div small {display:block; margin:20px 0 0; font-size:14px; font-weight:500; line-height:1.4; color:#959595; word-break:keep-all;}
.check-write-box > ul > li .write-left div dl {margin:16px 0 0;}
.check-write-box > ul > li .write-left div dl dt {font-size:14px; font-weight:500; margin:0 0 5px; line-height:1.3;}
.check-write-box > ul > li .write-left div dl dd {font-size:14px; font-weight:500; margin:0 0 5px; line-height:1.3; color:#959595;}
.check-write-box > ul > li .write-left div dl dd:last-of-type {margin:0;}
.check-write-box > ul > li .write-right {flex:1; min-width:0;}
.check-write-box > ul > li .write-right > dl > dd {margin:0 0 32px;}
.check-write-box > ul > li .write-right > dl > dd:last-of-type {margin:0;}
.check-write-box > ul > li .write-right > dl > dd .write-head {border-bottom:2px solid #000; padding:0 0 20px;}
.check-write-box > ul > li .write-right > dl > dd .write-head strong {font-size:22px; font-weight:bold;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div {min-height:60px; display:flex; flex-wrap:wrap; align-items:center; border-bottom:2px solid #E4E4E4;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div b {width:115px; font-size:18px; font-weight:bold; color:rgba(0,0,0,0.6);}
.check-write-box > ul > li .write-right > dl > dd .write-body > div input {flex:1; min-width:0; height:60px; font-size:18px;}				   
.check-write-box > ul > li .write-right > dl > dd .write-body > div > p {flex:1; min-width:0; height:60px; line-height:60px; font-size:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div select {color:#707070; padding-right:25px; flex:1; min-width:0; height:60px; font-size:18px; cursor:pointer; background:url('../images/icon_member_select.png') no-repeat right center / 18px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div select option {font-size:16px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div input::placeholder {color:#A8A8A8;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div em {font-size:18px; font-weight:bold; margin-left:15px;}
.check-write-box > ul > li.border {border-bottom:2px solid #000; padding:0 0 80px; margin:0 0 40px;}
.check-write-box > ul > li.border .write-right > dl > dd .write-body > div:last-of-type {border-color:#e4e4e4;}
.check-write-box.full > ul > li .write-left {width:100%; padding-right:0;}
.check-write-box.full > ul > li .write-right {flex:none; width:100%;}
@media (max-width:1200px){
.check-write-box > ul > li .write-left {width:100%; padding-right:0;}
.check-write-box > ul > li .write-right {flex:none; width:100%; margin:20px 0 0;}
}
@media (max-width:991px){
.check-write-box > ul > li .write-left b {font-size:15px;}
.check-write-box > ul > li .write-left div {top:-4px; margin-left:10px;}
.check-write-box > ul > li .write-left div p {font-size:18px;}
.check-write-box > ul > li .write-left div small {margin:5px 0 0; font-size:12px;}
.check-write-box > ul > li .write-left div dl dt {font-size:12px;}
.check-write-box > ul > li .write-left div dl dd {font-size:12px;}
.check-write-box > ul > li .write-right > dl > dd .write-head {padding:0 0 10px;}
.check-write-box > ul > li .write-right > dl > dd .write-head strong {font-size:16px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div {min-height:50px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div b {width:60px; font-size:14px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div input {height:50px; font-size:14px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div > p {height:50px; font-size:14px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div select {height:50px; font-size:14px; background-size:14px; padding-right:20px;}
.check-write-box > ul > li .write-right > dl > dd .write-body > div em {font-size:14px; margin-left:10px;}
.check-write-box > ul > li.border {padding:0 0 40px;}
}

/* company-list-box */
.company-list-box {margin:0 0 55px;}
.company-list-box:last-of-type {margin:0;}
.company-list-box .list-head {margin:0 0 16px;}
.company-list-box .list-head strong {background:#F7F7F7; height:60px; padding:0 40px; font-size:24px; font-weight:600; display:flex; flex-wrap:wrap; align-items:center;}
.company-list-box .list-body ul {display:flex; flex-wrap:wrap; margin:0 -8px -16px;}
.company-list-box .list-body ul li {width:calc(25% - 16px); height:64px; padding:0 40px; margin:0 8px 16px; border:1px solid #E4E4E4; display:flex; flex-wrap:wrap; align-items:center;}
.company-list-box .list-body ul li p {font-size:16px; font-weight:600;}
@media (max-width:1300px){
.company-list-box .list-body ul li {width:calc(33.33% - 16px); padding:0 20px;}
}
@media (max-width:991px){
.company-list-box {margin:0 0 35px;}
.company-list-box .list-head {margin:0 0 10px;}
.company-list-box .list-head strong {height:50px; padding:0 15px; font-size:18px;}
.company-list-box .list-body ul {margin:0 -5px -10px;}
.company-list-box .list-body ul li {width:calc(50% - 10px); height:45px; margin:0 5px 10px;}
.company-list-box .list-body ul li p {font-size:14px;}
}

/* company-write-box */
.company-write-box {display:flex; flex-wrap:wrap; justify-content:space-between;}  
.company-write-box .write-head {margin:0 0 12px;}
.company-write-box .write-head strong {font-size:16px; font-weight:600;}
.company-write-box .write-body div.line {width:100%; height:1px; background:#E4E4E4; margin:12px 0;}
.company-write-box .write-body input {width:100%; height:48px; background:#f7f7f7; padding:0 24px; font-size:16px; color:#707070;}
.company-write-box .write-body input::placeholder {color:#a8a8a8;}
.company-write-box .write-body textarea {display:block; width:100%; height:120px; background:#F7F7F7; padding:15px 24px; font-size:16px; line-height:1.4; color:#707070;}
.company-write-box .write-body textarea::placeholder {color:#A8A8A8;} 
.company-write-box .write-body p {width:100%; max-height:120px; overflow-y:auto; font-size:16px; line-height:1.4;}
.company-write-box > div {width:calc(50% - 12px);}
.company-write-box > div.write-left {border:1px solid #E4E4E4; padding:24px 32px;}
.company-write-box > div.write-left .write-body {height:calc(100% - 16px);}
.company-write-box > div.write-left .write-body	textarea {height:calc(100% - 25px);}
.company-write-box > div.write-right ul li {border:1px solid #E4E4E4; padding:24px 32px; margin:0 0 16px;}
.company-write-box > div.write-right ul li:last-of-type {margin:0;}
.company-write-box.full > div {width:100%;}
@media (max-width:1200px){
.company-write-box > div {width:100%; margin:0 0 20px;}
.company-write-box > div:last-of-type {margin:0;}
.company-write-box > div.write-left .write-body	textarea {height:120px;}
}
@media (max-width:991px){
.company-write-box > div.write-left {padding:15px;}
.company-write-box .write-body input {height:40px; padding:0 15px; font-size:14px;}
.company-write-box .write-body textarea {padding:15px; font-size:14px;}
.company-write-box .write-body p {font-size:14px;}
.company-write-box > div.write-right ul li {padding:15px;}
}

/* write-reply-box */
.write-reply-box {display:flex; flex-wrap:wrap; justify-content:space-between; align-items:flex-start; margin:0 0 24px;}
.write-reply-box > div {width:calc(50% - 20px);}
.write-reply-box > div.reply-left {background:#F7F7F7; padding:24px;}
.write-reply-box > div.reply-bottom {width:100%; padding:15px 0; margin:15px 0 0; border-top:1px solid #E4E4E4; border-bottom:2px solid #000;}
@media (max-width:1400px){
.write-reply-box > div {width:100%;}
}
@media (max-width:991px){
.write-reply-box > div.reply-left {padding:15px;}
}

/* graph-half-box */
.graph-half-box {display:flex; flex-wrap:wrap; justify-content:space-between;}
.graph-half-box .graph {width:calc(50% - 12px); background:#fff; box-shadow:0 3px 16px rgba(0,0,0,0.1); padding:35px 40px;}
.graph-half-box .graph .graph-head {display:flex; flex-wrap:wrap; align-items:baseline; margin:0 0 12px;}
.graph-half-box .graph .graph-head strong {font-size:28px; font-weight:bold;}
.graph-half-box .graph .graph-head em {margin-left:15px; font-size:16px; color:#505050;}
.graph-half-box .graph .graph-body {}
@media (max-width:1200px){
.graph-half-box .graph {padding:30px 24px;}
.graph-half-box .graph .graph-head strong {font-size:20px;}
.graph-half-box .graph .graph-head em {font-size:14px; margin-left:10px;}
}
@media (max-width:991px){
.graph-half-box .graph {width:100%; padding:24px; margin:0 0 20px;}
.graph-half-box .graph:last-of-type {margin:0;}
.graph-half-box .graph .graph-head strong {font-size:17px;}
.graph-half-box .graph .graph-head em {font-size:12px; margin-left:7px;}
}

/* table-box */
.table-box .table-head {margin:0 0 24px; display:flex; flex-wrap:wrap; align-items:center; justify-content:flex-end;}
.table-box .table-head a {height:36px; padding:0 20px; font-size:14px; color:#fff; background:#1C5989; display:flex; flex-wrap:wrap; align-items:center; justify-content:center; margin-right:10px;}
.table-box .table-head a:last-of-type {margin:0;}
.table-box .table-body {overflow-x:auto; white-space:nowrap;}
.table-box .table-body table {table-layout:auto; width:100%;}
.table-box .table-body table thead tr th {background:#F7F7F7; font-size:16px; font-weight:500; padding:20px 10px; border:1px dashed #E4E4E4; border-width:0 1px 1px 0; border-top:2px solid #000;}
.table-box .table-body table thead tr th:last-of-type {border-right:0;}
.table-box .table-body table tbody tr td {font-size:16px; padding:20px 10px; border:1px dashed #E4E4E4; border-width:0 1px 1px 0;}
.table-box .table-body table tbody tr td.graph {width:320px;}
.table-box .table-body table tbody tr td.active {background:rgba(28,112,174,0.05);}
.table-box .table-body table tbody tr.active td {background:rgba(28,112,174,0.05);}
@media (max-width:991px){
.table-box .table-head {display:block; overflow-x:auto; white-space:nowrap; margin:0 -15px 15px;}
.table-box .table-head a {padding:0 10px; display:inline-block; font-size:12px; height:30px; line-height:30px; margin-right:5px;}
.table-box .table-head a:first-of-type {margin-left:15px;}
.table-box .table-head a:last-of-type {margin-right:15px;}
.table-box .table-body {margin:0 -15px 0;}
.table-box .table-body table {padding:0 15px;}
.table-box .table-body table thead tr th {padding:15px 10px; font-size:14px;}
.table-box .table-body table tbody tr td {padding:15px 10px; font-size:13px;}
}

/* table-link-box */
.table-link-box {min-width:200px; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
.table-link-box a {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; font-weight:600; text-decoration:underline;}
.table-link-box a:after {display:inline-block; content:""; width:1px; height:12px; background:#E4E4E4; margin:0 15px;}
.table-link-box a:last-of-type:after {display:none;}
@media (max-width:991px){
.table-link-box {min-width:150px;}
.table-link-box a {font-size:13px;}
.table-link-box a:after {margin:0 7px; height:10px;}
}

/* table-graph-box */
.table-graph-box {width:320px;}
.table-graph-box > div {box-shadow:0 3px 8px rgba(28,112,174,0.24); display:flex; flex-wrap:wrap; align-items:center; height:8px; border-radius:6px; overflow:hidden; border:1px solid #E4E4E4;}
.table-graph-box > div span {display:flex; flex-wrap:wrap; align-items:center; height:100%; border-radius:6px; background:#1C70AE;}
.table-graph-box > em {display:block; width:100%; margin:8px 0 0; font-size:14px; font-weight:500; color:#1C5989; text-align:left;}
@media (max-width:991px){
.table-graph-box {width:150px;}
.table-graph-box > em {font-size:12px;}
}

/* submit-graph-box */
.submit-graph-box {margin:0 0 40px;}
.submit-graph-box h2 {font-size:22px; font-weight:600; margin:0 0 12px;}
.submit-graph-box > div {background:#F7F7F7; height:12px; border-radius:6px; border:1px solid #E4E4E4; display:flex; flex-wrap:wrap; align-items:center;}
.submit-graph-box > div span {position:relative; display:flex; flex-wrap:wrap; align-items:center; height:100%; border-radius:6px; background:#2B9F97;}
.submit-graph-box > div span em {position:absolute; right:-25px; bottom:-25px; font-size:16px; font-weight:600; color:#2B9F97;}
@media (max-width:991px){
.submit-graph-box h2 {font-size:18px;}
.submit-graph-box > div {height:12px;}
.submit-graph-box > div span em {font-size:14px;}
}

/* graph-list-box */
.graph-list-box {margin:0 0 100px;}
.graph-list-box:last-of-type {margin:0;}
.graph-list-box .list-head {border-top:2px solid #000; padding:24px 0;}
.graph-list-box .list-head strong {font-size:28px; font-weight:bold;}
.graph-list-box .list-body ul {display:flex; flex-wrap:wrap; margin:0 -12px -40px;}
.graph-list-box .list-body ul li {width:calc(25% - 24px); margin:0 12px 40px;}
.graph-list-box .list-body ul li .graph-image {border:1px solid #E4E4E4; padding:30px;}
.graph-list-box .list-body ul li .graph-image em {display:block; text-align:center; margin:15px 0 0; font-size:18px; font-weight:500;}
.graph-list-box .list-body ul li .graph-content {margin:15px 0 0;}
.graph-list-box .list-body ul li .graph-content b {display:block; font-size:20px; font-weight:600; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.graph-list-box .list-body ul li .graph-content p {margin:8px 0 0; font-size:14px;}
@media (max-width:1300px){
.graph-list-box .list-body ul li {width:calc(33.33% - 24px);}
.graph-list-box .list-body ul li .graph-content b {font-size:18px;}
}
@media (max-width:991px){
.graph-list-box {margin:0 0 50px;}
.graph-list-box .list-head {padding:15px 0;}
.graph-list-box .list-head strong {font-size:18px;}
.graph-list-box .list-body ul {margin:0 -5px -20px;}
.graph-list-box .list-body ul li {width:calc(50% - 10px); margin:0 5px 20px;}
.graph-list-box .list-body ul li .graph-image {padding:20px;}
.graph-list-box .list-body ul li .graph-image em {margin:10px 0 0; font-size:14px;}
.graph-list-box .list-body ul li .graph-content {margin:10px 0 0;}
.graph-list-box .list-body ul li .graph-content b {font-size:16px;}
.graph-list-box .list-body ul li .graph-content p {margin:5px 0 0; font-size:12px;}
}

/* progress-box */
.progress-box {background:#fff; box-shadow:0 3px 16px rgba(0,0,0,0.1); padding:24px 40px; margin:0 0 50px;}
.progress-box .pro-head {margin:0 0 15px; display:flex; flex-wrap:wrap; align-items:flex-end; justify-content:space-between;}
.progress-box .pro-head p {font-size:16px; color:#505050;}
.progress-box .pro-head p b {display:block; font-size:28px; font-weight:bold; color:#1C70AE; margin:3px 0 0;}
.progress-box .pro-head time {display:flex; flex-wrap:wrap; align-items:center; font-size:16px; color:#505050;}
.progress-box .pro-head time:before {display:inline-block; content:""; width:16px; height:16px; margin-right:8px; background:url('../images/icon_member_time.png') no-repeat center / cover;}
.progress-box .pro-body > div {padding:0 10%; position:relative; display:flex; flex-wrap:wrap; align-items:center; justify-content:space-between; height:32px; border-radius:16px; background:rgba(28,112,174,0.08);}
.progress-box .pro-body > div .bar {border-radius:16px; position:absolute; left:0; top:0; height:100%; background:#1C70AE;}
.progress-box .pro-body > div .dot {position:relative; z-index:2; width:8px; height:8px; border-radius:50%; background:#fff;}
@media (max-width:991px){
.progress-box {padding:24px 20px; margin:0 0 30px;}
.progress-box .pro-head p {font-size:13px;}
.progress-box .pro-head p b {font-size:20px;}
.progress-box .pro-head time {font-size:12px;}
.progress-box .pro-head time:before {width:12px; height:12px; margin-right:4px;}
.progress-box .pro-body > div {height:28px;}
.progress-box .pro-body > div .dot {width:5px; height:5px;}
}

/* chart */
.chart {position: relative; width:110px; height:110px; border-radius:50%; transition:0.3s; margin:0 auto;}
.chart span {font-size:22px; font-weight:bold; position:absolute; transform:translate(-50%,-50%); left:50%; top:50%; width:60%; height:60%; border-radius:50%; background:#fff; text-align:center; display:flex; flex-wrap:wrap; align-items:center; justify-content:center;}
@media (max-width:991px){
.chart {width:95px; height:95px;}
.chart span {font-size:20px;}
}